* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  width: 100%;
  height: 100vh;
}

/* Heading Section */
header {
  height: 120px;
  padding: 10px;
  background: linear-gradient(90deg, rgb(42, 10, 82) 30%, rgb(96, 71, 147) 80%);
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  object-fit: cover;
  max-width: 100px;
  width: 30%;
  height: auto;
  border-radius: 10px;
  margin-right: 5px;
}

.heading-content {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading-content h1 {
  margin-bottom: 6px;
  color: rgba(128, 101, 236, 0.908);
  font-family: "Michroma", sans-serif;
  font-size: clamp(1rem, 3.5vw, 1.5rem);
  font-weight: 400;
  font-style: normal;
}

.heading-content p {
  font-family: "Edu SA Hand", cursive;
  font-size: clamp(0.7rem, 3.5vw, 0.9rem);
}

/* Navigation bar section */
nav * {
  font-family: "Orbitron", sans-serif;
}

.navbar {
  height: 60px;
  background: rgb(29, 1, 64);
  padding: 0.8rem 1rem;
  position: relative;
}

.hamburger {
  background: none;
  border: none;
  color: white;
  font: normal 1.5rem sans-serif;
  cursor: pointer;
  display: none;
}

.main-links {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-links.show {
  display: flex;
}

.main-links li {
  list-style: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.main-links li a {
  color: white;
  text-decoration: none;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  position: relative;
}

.main-links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -8px;
  left: 0;
  background: rgb(197, 125, 255);
  transition: width 0.5s ease;
}

.main-links li a:hover::after {
  width: 100%;
}

/* Responsive Navbar Section */
@media (max-width: 760px) {
  .hamburger {
    display: block;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
  }

  .main-links {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
  }

  .main-links li {
    padding: 0.7rem 10px;
  }

  .main-links li:hover {
    transform: scale(1.3);
    font-weight: bold;
  }
}
